header{
    background-color: hsl(100, 100%, 90%);
}
main{
    background-color: hsl(0, 100%, 90%);
}
aside{
    background-color: hsl(200, 100%, 90%);
}
footer{
    background-color: hsl(250, 100%, 90%);
}